@import '../../../assets/sass/sass-assets.scss';

.Order {
    padding: 40px;
    margin: 20px 0;
    background-color: white;
    position: relative;

    h2 {
        margin-bottom: 10px;
    }

    .order-id {
        position: absolute;
        top: 40px;
        right: 20px;
    }

    .order-total {
        font-weight: 500;
        text-align: right;
    }
}
